.warp-box {
  width: 80%;
  margin: auto;
  background-color: #c4c4c4;
}
.slider {
  text-align: center;
  display: block;
  margin: 4.9rem auto 0;
  width: 100%;
}
.info-warp {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  .info-content {
    background:
      linear-gradient(115deg, #6c7a89 50%, transparent 50%) center center / 100%
        100%,
      url(../public/images/index/test.jpg) right center / 100% 100% no-repeat;
    width: 70%;
    height: 20rem;
    margin: auto;
    background-color: red;
    .info-txt {
      height: 100%;
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      h1 {
        font-size: 4rem;
        border-bottom: 1px solid #f5f5f5;
        small {
          display: block;
          font-size: 2.4rem;
        }
      }
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
}
.service-warp {
  width: 100%;
  padding-bottom: 2rem;
  .service-content {
    width: 80%;
    margin: auto;
    .service-title {
      width: 100%;
      border-bottom: 1px solid #354649;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .service-img {
      padding-top: 2rem;
      display: flex;
      justify-content: space-around;
      .item {
        position: relative;
        .img {
          padding: 1rem;
        }
        .txt {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          padding: 1.25rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          background: rgba(0, 0, 0, 0.3);
          text-align: center;
          transition: 1s;
          opacity: 0;
          h2 {
            font-size: 1.6rem;
            color: #fff;
          }
        }
        :hover {
          transition: 1s;
          opacity: 1;
        }
      }
    }
  }
}
.basic-warp{
  width: 100%;
  padding-bottom: 2rem;
  .basic-content{
    width: 80%;
    margin: auto;
    .basic-title {
      width: 100%;
      border-bottom: 1px solid #354649;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .img-warp{
      width: 100%;
      position: relative;
      img{
        display: block;
         margin: auto;
      }
      .small-img{
        width: 50%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        position: absolute;
        left: 25%;
        bottom: 10%;
      }   
  }
  .txt-content{
    width: 50%;
    margin: auto;
    // background-color: aqua;
    .txt{
      background: #fff;
      padding: 15px;
      border: 1px solid #354649;
    }
  }
  }
  
}
.expansion-warp{
  width: 100%;
 
  .expansion-content{
    width: 80%;
    margin: auto;
    .expansion-title{
      width: 100%;
      border-bottom: 1px solid #354649;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}


.main-btn {
  // font-size: 1.4rem;
  background: #d9d9d9;
  transition: background-color 1s;
  padding: 3px 15px;
  border: 1px solid #354649;
  border-radius: 30px;
  a {
    text-decoration: none;
    color: #354649;
  }
  .btn-content {
    line-height: 2;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #354649;
  }
}
.main-btn:hover {
  background: #354649;
  transition: background-color 1s;
  .btn-content {
    color: aliceblue;
  }
  a {
    padding-bottom: 4px;
    color: #f5f5f5;
  }
}

@media (min-width: 1440px) {
  .head-img {
    width: 1165px;
  }
  .slider {
    width: 1440px;
  }
  .service-content {
    width: 1190px;
  }
}
